<header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
		<div class="contain">
			<img src="/assets/scc.png" alt="image" class="navbar-brand">
			<a routerLink="/home" class="navbar-brand">SpringHill Community College</a>			
			<div id="main-nav" class="navItems">
				<div class="navbar-nav ml-auto">
					<li><a routerLink="/students" routerLinkActive="activebutton" class="nav-item nav-link">Students</a></li>
					<li><a routerLink="/enroll" routerLinkActive="activebutton" class="nav-item nav-link">Enroll Now</a></li>
					<li><a routerLink="/contact" routerLinkActive="activebutton" class="nav-item nav-link">Contact</a></li>
					<li><button routerLink="/login" routerLinkActive="activebutton" class="nav-item nav-link">Login</button></li>
					<li><button routerLink="/register" routerLinkActive="activebutton" class="nav-item nav-link">Register</button></li>
				</div>
			</div>
		</div>
	</nav>
</header>