.container1{
background-color: rgb(0, 0, 0, 0.7);
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
color: white;
float:left;
display: block;
width:400px;
margin-top: 50px;
}
.container2{
    background-color: rgb(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: white;
    float: right;
    display: block;
    width:400px;
    height: 619px;
    margin-top: 50px;
}